.Button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchButton {
    height: 30px;
    background-color: whitesmoke;
    color: grey;
    font-size: 18px;
    width: 30px;
    border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    -moz-border-radius: 0 100px 100px 0;
    -ms-border-radius: 0 100px 100px 0;
    -o-border-radius: 0 100px 100px 0;
}