.App {
  text-align: center;
}

p{
  margin:0
}

*{
  box-sizing: border-box
}

img{
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
